@font-face {
  font-family: 'LoraItaloc';
  src: local('Lora Italic'), local('Lora-Italic'),
  url('../fonts/LoraItalic/Loraitalic.woff2') format('woff2'),
  url('../fonts/LoraItalic/Loraitalic.woff') format('woff'),
  url('../fonts/LoraItalic/Loraitalic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'NotoSans';
  src: local('Noto Sans'), local('NotoSans'),
  url('../fonts/NotoSans/notosans.woff2') format('woff2'),
  url('../fonts/NotoSans/notosans.woff') format('woff'),
  url('../fonts/NotoSans/notosans.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSansLight';
  src: local('Open Sans'), local('OpenSans'),
  url('../fonts/OpenSans/opensanslight.woff2') format('woff2'),
  url('../fonts/OpenSans/opensanslight.woff') format('woff'),
  url('../fonts/OpenSans/opensanslight.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSansSemiBold';
  src: local('Open Sans Semibold'), local('OpenSans-Semibold'),
  url('../fonts/OpenSansSemiBold/opensanssemibold.woff2') format('woff2'),
  url('../fonts/OpenSansSemiBold/opensanssemibold.woff') format('woff'),
  url('../fonts/OpenSansSemiBold/opensanssemibold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'MyriadProRegular';
  src: url('../fonts/MyriadPro/MyriadPro-Regular.eot');
  src: local('MyriadPro-Regular'), local('MyriadPro-Regular'),
  url('../fonts/MyriadPro/MyriadPro-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/MyriadPro/MyriadPro-Regular.woff') format('woff'),
  url('../fonts/MyriadPro/MyriadPro-Regular.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}


